.app {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header, .hero-section {
    padding: 1rem 4rem;
}

.hero-section {
   display: flex;
   flex-direction: column;
   gap: 5rem;
}